{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>

    <div id="wrapper">

        <!-- Main -->
            <div id="main">
                <div class="inner">

                    <!-- Header -->
                        <header id="header">
                            <a href="index.html" class="logo"><strong>Registration</strong> for Tenovice</a>
                    
                        </header>
                        
	<body class="is-preload">

		<section>
            <h2>Register for Event</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    </body>
</html>